* {
	margin: 0px auto;
	padding: 0px;
}

body {
	background: url("../images/restaurant.png");
}
h1, h2 {
	color: white;
	margin: 10px;
	font-family: 'Californian FB';
	text-align: center;
}

h1 {
	font-size: 48pt;
}
h3, h4 {
	color: black;
	margin: 5px;
}
#welcome {
	color: white;
	text-align: center;
	font-size: 18pt;
	
}
nav {
	background: url("../images/ep_naturalblack");
	text-align: center;
	font-size: 20px; 
	word-spacing: 5px;
	width: 1000px;
}
nav a {
	text-decoration: none;
	color: #c7e5d2;
	font-family: 'Corbel'
}
nav a:hover {
	text-decoration: none;
	color: #9b42f4;
	font-family: 'Corbel';
}
#space {
	margin-top: 30px;
	margin-right: 765px;
}
h4 {
	margin-top: 30px;
	margin-left: 30px;
}
h5 {
	font-size: 16pt;
	font-weight: bold;
	margin-left: 30px;
}
p {
	color: black;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 30px;
	font-size: 12pt;
	font-family: 'Arial';
}
.container {
	background: url("../images/circles-and-roundabouts.png");
	text-align: left;
	width: 1000px;
	height: 700px;
	
}
ul {
	float: left;
	margin: 10px;
}

li {
	font-size: 16pt;
	list-style: none;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 2px;
	margin-top: 2px;
}

li a {
	color: black;
	text-decoration: none;
}
li a:hover {
	color: red;
	text-decoration: none;
}
form {
	background-color: #b3b3ff; 
	border: 5px solid black;
	color: white;
	margin-top: 30px;
	width: 900px;
	
}
form input {
	margin: 10px;
}
form label {
	margin: 5px;
	font-size: 14pt;
}

nav#margin1 {
	margin-bottom: -5px;
}

nav#margin2 {
	margin-bottom: -5px;
}
footer {
	background: gray;
	opacity: 0.8;
	text-align: center;
	font-family: 'Arial Rounded MT';
	color: white;
}

